<div class="container mt-5 pt-5">
    <h1 class="text-center text-light mb-4">Formulaire</h1>
    
    <div class="card bg-dark text-light shadow p-4">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form) }}
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
