{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
<div class="container py-5">
<div style="margin-top: 100px;"></div>
    <section class="text-center mb-4">
        <h3 class="mb-3">Créer une nouvelle Catégorie</h3>
    </section>

    <div class="mb-4">
        {{ include('categorie/_form.html.twig') }}
    </div>

    <div class="text-center">
        <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}
